<h2 class='page-header'>Employer Page</h2>

<div class='employer-view-name'>
  <%= employer.name %> 
</div>
<h3 style='text-align:center;'>Jobs posted by <%=employer.name%></h3>
<% if (jobs.length > 0) { %>
  <% jobs.forEach(job => { %>
    <%-include('../partials/jobBox', {job:job}) %>

  <% }) %>
<% } else {%>
    <div>This employer has posted no jobs</div>
<% } %>
<div class='btn-row'>
  <a class='btn btn-primary' href="/employers/<%= employer.id %>/edit">Edit</a>
  <a class='btn btn-primary' href="/employers">Back to employers</a>
  <%- include('../partials/deleteForm', {url: `/employers/${employer.id}` }) %>

</div>