<label>Title</label>
<br>
<input type="text" name="title" value="<%= job.title%>">
<br>
<label>Wage/hour</label>
<br>
<input type="number" name="wage" value="<%= job.wage %>">
<br>
<label>Employer</label>
<br>
<select name="employer">
<% employers.forEach(employer => { %>
<% if (job.employer === employer) { %>
  <option selected label="<%= job.employer.name %>" value=" <%= employer.id %> ">
<% } else { %>
  <option label="<%=employer.name %>" value="<%= employer.id %>">
  <% } %>
<% }) %>
</select>
<br>
<label>Job description</label>
<br>
<% if (job.description) { %>
  <textarea name="description" value="<%=job.description%>"> <%=job.description%> </textarea>
 <% } else { %>
<textarea name="description" value="<%= job.description%>">Job description goes here</textarea>
<% } %>